@use "sass:map";
@use "sass:color";

$datepickerDayCellSize: 32px !default;
$datepickerWidth: 250px !default;
$datepickerMinBodyHeight: 170px !default;
$datepickerBorderRadius: 4px !default;
$datepickerPadding: 4px !default;
$datepickerZIndex: 100 !default;

$datepickerFontFamily: Tahoma !default;
$datepickerFontSize: 14px !default;

$datepickerYearsPerRow: 4 !default;

$datepickerTextColor: (
  button: #5cc4ef,
  otherMonth: #dedede,
  otherMonthInRange: #ccc,
  disabled: #aeaeae,
  currentDate: #4EB5E6,
  common: #4a4a4a,
  dayNames: #FF9A19,
  navArrows: #9c9c9c
) !default;

$datepickerBG: (
  selected: #5cc4ef,
  selectedHover: color.scale(#5cc4ef, $lightness: -5%),
  inRange: rgba(#5cc4ef, .1),
  hover: #f0f0f0
) !default;

$datepickerBorderColor: (
  nav: #efefef,
  inline: #d7d7d7,
  default: #dbdbdb
) !default;

$datepickerNavigationHeight: 32px !default;
$datepickerNavigationButtonsOffset: 2px !default;

$datepickerPointerSize: 10px !default;
$datepickerPointerOffset: 10px !default;

// Transitions
$datepickerTransitionSpeed: .3s !default;
$datepickerTransitionEase: ease !default;
$datepickerTransitionOffset: 8px !default;

// Objects
%otherMonth {
  color: map.get($datepickerTextColor, otherMonth);

  &:hover {
    color: color.scale(map.get($datepickerTextColor, otherMonth), $lightness:-10%);
  }

  &.-disabled- {
    &.-focus- {
      color: map.get($datepickerTextColor, otherMonth);
    }
  }

  &.-selected- {
    color: #fff;
    background: color.scale(map.get($datepickerBG, selected), $lightness: 15%);
    &.-focus- {
      background: color.scale(map.get($datepickerBG, selected), $lightness: 10%);
    }
  }
  
  &.-in-range- {
    background-color: map.get($datepickerBG, inRange);
    color: color.scale(map.get($datepickerTextColor, otherMonth), $lightness:-7%);

    &.-focus- {
      background-color: rgba(map.get($datepickerBG, inRange), .2);
    }
  }


  &:empty {
    background: none;
    border: none;
  }
}